.header-container {
  height: 104px;
  background-color: #171a21;
  color: white;
}

.header {
  min-width: 950px;
  width: 950px;
  max-width: 950px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: 100%;
}
.header a:hover {
  color: #67c1f5;
}

.left-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 500px;
  justify-content: space-between;
}
.left-header a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 12px;
  margin-right: 7px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.right-header {
  width: 250px;
  margin-top: 7px;
}
.right-header button {
  padding: 0;
  border: none;
  background: none;
  padding: 0;
  border: none;
  background: none;
  height: 25px;
  width: 110px;
  font-size: 11px;
  background-color: #5c7e10;
}
.right-header a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 10px;
  margin-right: 7px;
  font-weight: lighter;
  letter-spacing: 1px;
}

footer hr {
  width: 90%;
}

.recommendations-container {
  width: 100%;
  background-color: #171a21;
}

.recommendations {
  min-width: 950px;
  width: 950px;
  max-width: 950px;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #171a21;
  text-align: center;
}
.recommendations h1 {
  color: #67c1f5;
}
.recommendations h4 {
  color: #c2c2c2;
}
.recommendations .bold {
  color: white;
  font-weight: bolder;
}
.recommendations button {
  padding: 0;
  border: none;
  background: none;
  padding: 0;
  border: none;
  border-radius: 1px;
  background: none;
  height: 30px;
  width: 80px;
  font-size: 15px;
  background: linear-gradient(#799905, #536904);
  color: #D2E885;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 0px 1px yellow;
  box-shadow: 0px 0px 1px yellow;
}

.legal {
  min-width: 950px;
  width: 950px;
  max-width: 950px;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.legal a {
  text-decoration: none;
  color: #F5F5F5;
  margin: 5px;
  font-size: 12px;
}
.legal a:hover {
  color: #67c1f5;
}

.legal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.legal-bottom {
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 990px) {
  .right-header {
    display: none;
  }

  .left-header {
    margin-left: auto;
    margin-right: auto;
  }

  .legal, .recommendations, .recommendations-container, .header {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .header-links {
    display: none;
  }

  .left-header img {
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  background-color: #2a475e;
  font-family: "Duru Sans", sans-serif;
  margin: 0;
}

.banner {
  width: 100%;
  height: 340px;
  background-color: white;
  text-align: center;
  position: relative;
}

.banner img {
  height: 340px;
  width: 940px;
  max-width: 940px;
  margin: 0px auto;
}

.navbar {
  height: 45px;
  min-width: 950px;
  width: 950px;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  display: space-between;
  top: 10px;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(42, 71, 94, 0.8);
  box-shadow: 0px 0px 1px 1px #c6d4df;
}

.nav-item-container {
  display: flex;
  margin-right: 200px;
}

.nav-item {
  height: 100%;
  width: auto;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item button {
  padding: 0;
  border: none;
  background: none;
  height: 100%;
  border-right: 0.5px solid black;
  padding: 15px;
}

.nav-search {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-search input {
  height: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
}

.main-wrap {
  width: 950px;
  min-width: 950px;
  margin-left: auto;
  margin-right: auto;
  color: #F5F5F5;
}

.sidebar {
  padding-top: 20px;
  width: 210px;
  height: 1000px;
  float: left;
  margin-left: -210px;
}
.sidebar img {
  width: 210px;
  margin-left: 0px;
}
.sidebar h5 {
  padding-left: 20px;
}
.sidebar a {
  text-decoration: none;
  color: #67c1f5;
  margin: 5px;
  font-size: 15px;
  display: block;
  padding-left: 20px;
}
.sidebar a:hover {
  color: white;
}

.main {
  float: left;
  min-width: 950px;
  width: 950px;
  max-width: 950px;
}

.featured {
  display: flex;
  width: 100%;
  height: 350px;
  box-shadow: 2px 0px 9px black;
}

.featured-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("img/background_spotlight.jpg");
  background-color: #171a21;
}

.tomb-title {
  padding-left: 10px;
}

.feature-images-small {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}
.feature-images-small img {
  margin: 3px 3px;
  width: 160px;
  height: 70px;
}

.tomb-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.tomb-bottom .bottom-text {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.special {
  display: flex;
  width: 100%;
  height: 380px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.special .special-image {
  width: 100%;
  height: 260px;
}
.special h5 {
  padding-left: 10px;
  margin-top: 10px;
}
.special p {
  font-size: 10px;
  padding-left: 10px;
}
.special .price {
  padding-left: 10px;
}

.special1 {
  background-image: url("https://store.steampowered.com/public/images/v6/home/background_spotlight.jpg");
}

.special3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special3-1 {
  background-image: url("https://store.steampowered.com/public/images/v6/home/background_spotlight.jpg");
  height: 185px;
}
.special3-1 .price {
  float: right;
  padding-right: 10px;
}

@media only screen and (max-width: 1550px) {
  .sidebar {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .main-wrap {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .main {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .main h3 {
    text-align: center;
  }

  .banner {
    display: none;
  }

  .featured-detail {
    display: none;
  }

  .featured {
    width: 614px;
    margin-left: auto;
    margin-right: auto;
  }

  .special {
    justify-content: center;
  }

  .special1 {
    margin: 5px;
  }

  .special3 {
    display: none;
  }

  .free {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .special {
    display: block;
  }
}

/*# sourceMappingURL=output.css.map */
