.header-container {
  height: 104px;
  background-color: #171a21;
  color: white;
}

.header {
  min-width: 950px;
  width: 950px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: 100%;
}

.left-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 500px;
  justify-content: space-between;
}
.left-header a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 12px;
  margin-right: 7px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.right-header {
  width: 250px;
  margin-top: 7px;
}
.right-header button {
  padding: 0;
  border: none;
  background: none;
  padding: 0;
  border: none;
  background: none;
  height: 25px;
  width: 110px;
  font-size: 11px;
  background-color: #5c7e10;
}
.right-header a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 10px;
  margin-right: 7px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.recommendations-container {
  width: 100%;
  background-color: #171a21;
}

.recommendations {
  min-width: 950px;
  width: 950px;
  flex-direction: column;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #171a21;
  text-align: center;
}
.recommendations h1 {
  color: #67c1f5;
}
.recommendations h4 {
  color: #c2c2c2;
}
.recommendations .bold {
  color: white;
  font-weight: bolder;
}
.recommendations button {
  padding: 0;
  border: none;
  background: none;
  padding: 0;
  border: none;
  border-radius: 1px;
  background: none;
  height: 30px;
  width: 80px;
  font-size: 15px;
  background: linear-gradient(#799905, #536904);
  color: #D2E885;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 0px 1px yellow;
  box-shadow: 0px 0px 1px yellow;
}

body {
  background-color: #2a475e;
  font-family: "Duru Sans", sans-serif;
  margin: 0;
}

.main {
  min-width: 950px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  color: #F5F5F5;
}

.featured {
  display: flex;
  width: 100%;
  height: 350px;
  box-shadow: 2px 0px 9px black;
}

.featured-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("img/background_spotlight.jpg");
  background-color: #171a21;
}

.tomb-title {
  padding-left: 10px;
}

.feature-images-small {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}
.feature-images-small img {
  margin: 3px 3px;
  width: 160px;
  height: 70px;
}

.tomb-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.tomb-bottom .bottom-text {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.special {
  display: flex;
  width: 100%;
  height: 380px;
  justify-content: space-between;
}
.special .special-image {
  width: 100%;
  height: 260px;
}
.special h5 {
  padding-left: 10px;
  margin-top: 10px;
}
.special p {
  font-size: 10px;
  padding-left: 10px;
}
.special .price {
  padding-left: 10px;
}

.special1 {
  background-image: url("https://store.steampowered.com/public/images/v6/home/background_spotlight.jpg");
}

.special3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.special3-1 {
  background-image: url("https://store.steampowered.com/public/images/v6/home/background_spotlight.jpg");
  height: 185px;
}
.special3-1 .price {
  float: right;
  padding-right: 10px;
}

/*# sourceMappingURL=output.css.map */
