.header-container {
  height: 104px;
  background-color: $black;
  color: white;
}


.header {
  @include grid(true);
  justify-content: space-between;
  height: 100%;
}

.left-header {
  @include grid(true);
  align-items: center;
  padding-left: 20px;
  width: 500px;
  justify-content: space-between;
  a {
    @include links($textGrey, 12px);
  }
}

.right-header {
  width: 250px;
  margin-top: 7px;
  button {
    @include buttons;
    padding: 0;
    border: none;
    background: none;
    height: 25px;
    width: 110px;
    font-size: 11px;
    background-color: $darkGreen;
  }
  a {
    @include links($textGrey, 10px);
  }
}
