.header-container {
  height: 104px;
  background-color: $black;
  color: white;
}


.header {
  @include width($mainwidth);
  @include grid(true);
  @include automargin;
  justify-content: space-between;
  height: 100%;
  a:hover {
    color: $funBlue;
  }

}

.left-header {
  @include grid(true);
  align-items: center;
  padding-left: 20px;
  width: 500px;
  justify-content: space-between;
  a {
    @include links($textGrey, 12px);
  }

}

.right-header {
  width: 250px;
  margin-top: 7px;
  button {
    @include buttons;
    padding: 0;
    border: none;
    background: none;
    height: 25px;
    width: 110px;
    font-size: 11px;
    background-color: $darkGreen;
  }
  a {
    @include links($textGrey, 10px);
  }
}

footer {
  hr {
    width: 90%;
  }
}

.recommendations-container {
  width: 100%;
  background-color: $black;
}

.recommendations {
  @include width($mainwidth);
  @include column;
  @include grid(true);
  @include automargin;
  background-color: $black;
  text-align: center;
  h1 {
    color: $funBlue;
  }
  h4 {
    color: darken($textGrey, 20%);
  }
  .bold {
    color: white;
    font-weight: bolder;
  }
  button {
    @include buttons;
    padding: 0;
    border: none;
    border-radius: 1px;
    background: none;
    height: 30px;
    width: 80px;
    font-size: 15px;
    background: linear-gradient(#799905, #536904);
    color: #D2E885;
    @include automargin;
    text-shadow: 0px 0px 1px yellow;
    box-shadow: 0px 0px 1px yellow;
  }
}

.legal {
  @include width($mainwidth);
  @include column;
  @include grid(true);
  @include automargin;
  a{
    text-decoration: none;
    color: $textGrey;
    margin: 5px;
    font-size: 12px;
  }
  a:hover {
    color: $funBlue;
  }
}

.legal-top {
  @include grid(true);
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.legal-bottom {
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 990px) {
  .right-header {
    display: none;
  }
  .left-header {
    @include automargin;
  }
  .legal, .recommendations, .recommendations-container, .header{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .header-links {
    display:none;
  }
  .left-header img {
    @include automargin;
  }
}
