// * {
//   border: 1px solid red;
// }

body {
  background-color: $darkBlue;
  font-family: 'Duru Sans', sans-serif;
  margin: 0;

}

.banner {
  width: 100%;
  height: 340px;
  background-color: white;
  text-align: center;
  position: relative;
}
.banner img{
  height: 340px;
  width: 940px;
  max-width: 940px;
  margin: 0px auto;
}

.navbar {
  height: 45px;
  @include width($mainwidth);
  @include automargin;
  @include grid(true);
  position: absolute;
  display: space-between;
  top: 10px;
  left: 0;
  right: 0;
  align-items: center;
  background-color: transparentize($darkBlue, 0.2);
  box-shadow: 0px 0px 1px 1px $lightBlue;
}

.nav-item-container {
  @include grid(true);
  margin-right: 200px;
}

.nav-item {
  height: 100%;
  width: auto;
}

.nav-item:hover {
  background-color: rgba(255,255,255, 0.5);
}

.nav-item button{
  @include buttons;
  height: 100%;
  border-right: .5px solid black;
  padding: 15px;
}

.nav-search {
  height: 100%;
  @include grid(true);
  align-items: center;
  input {
    height: 70%;
    background-color: rgba(255,255,255, 0.5);
    font-style: italic;
    font-size: 14px;
  }
}

.main-wrap {
  width: $mainwidth;
  min-width: $mainwidth;
  @include automargin;
  color: $textGrey;
}

.sidebar {
  padding-top: 20px;
  width: 210px;
  height: 1000px;
  float: left;
  margin-left: -210px;
  img {
    width: 210px;
    margin-left: 0px;
  }
  h5 {
    padding-left: 20px;
  }
  a{
    text-decoration: none;
    color: $funBlue;
    margin: 5px;
    font-size: 15px;
    display: block;
    padding-left: 20px;
  }
  a:hover {
    color: white;
  }
}

.main {
  float: left;
  @include width($mainwidth);
}

.featured {
  @include grid(true);
  width: 100%;
  height: 350px;
  box-shadow: 2px 0px 9px black;
}

.featured-detail {
  @include grid(true);
  @include column;
  justify-content: space-between;
  background-image: url("img/background_spotlight.jpg");
  background-color: $black;
}

.tomb-title {
  padding-left: 10px;

}

.feature-images-small {
  @include grid(true);
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  img {
    margin: 3px 3px;
    width: 160px;
    height: 70px;
  }
}

.tomb-bottom {
  @include grid(true);
  @include column;
  padding-left: 10px;
  .bottom-text {
    height: 50px;
    @include grid(true);
    justify-content: space-between;
    padding-right: 10px;
  }
}

.special {
  @include grid(true);
  width: 100%;
  height: 380px;
  justify-content: space-between;
  margin-bottom: 20px;
  .special-image {
    width: 100%;
    height: 260px;
  }
  h5 {
    padding-left: 10px;
    margin-top: 10px
  }
  p {
    font-size: 10px;
    padding-left: 10px;
  }
  .price {
    padding-left: 10px;
  }
}

.special1 {
  @include slateBG;
}

.special3 {
  @include grid(true);
  @include column;
  justify-content: space-between;
}

.special3-1 {
  @include slateBG;
  height: 185px;
  .price {
    float:right;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1550px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .main-wrap {
    width:100%;
    min-width: 100%;
    max-width: 100%;
  }
  .main {
    width:100%;
    min-width: 100%;
    max-width: 100%;
    float: none;
    @include automargin;
    h3 {
      text-align: center;
    }
  }
  .banner {
    display: none;
  }
  .featured-detail {
    display: none;
  }
  .featured {
    width: 614px;
    @include automargin;
  }
  .special {
    justify-content: center;
  }
  .special1 {
    margin: 5px;
  }
  .special3 {
    display: none;
  }
  .free {
    display:none;
  }
}

@media only screen and (max-width: 420px) {
  .special {
    display: block;
  }
}
